# Node dependencies
/node_modules/
.pnpm-store/
.pnp.js
package-lock.json
pnpm-lock.yaml

# VSCode & IDEs
/.vscode/
.idea/*
!/.idea/runConfigurations

# Next.js
/.next/
/out/
.next/cache

# Production build
/build

# Environment files
.env
.env*.local
test.env

# Media / uploads
/media/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac / system files
.DS_Store

# Certificates
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Testing / coverage
/coverage/

# Misc
*.log